<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a class="ng-title-icon" href="http://angular.io" target="_blank">
        <i></i>
      </a>
      <span class="title">{{labTitle}}</span>

    </div>
  </mat-toolbar-row>

</mat-toolbar>
