<div class="control-panel">
  <div class="button-panel">
    <button mat-raised-button color="primary" type="button" (click)="getVideos()" matTooltip="Refresh the list">Refresh</button>
    <button mat-raised-button color="primary" type="button" (click)="enableAddMode()" *ngIf="!selected" matTooltip="Add a new item">Add</button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="videos$ | async as videos">
      <mat-spinner *ngIf="loading$ | async;else heroList" mode="indeterminate" color="accent"></mat-spinner>
      <ng-template #heroList>
        <app-video-list [videos]="videos" (deleted)="delete($event)"></app-video-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <app-video-detail *ngIf="selected" (unselect)="close()" (add)="add($event)">
    </app-video-detail>
  </div>
</div>
