<mat-card>
  <mat-card-header>
    <mat-card-title>Videos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="heroes">
      <li *ngFor="let item of videos; trackBy: byId" class="item-container">
        <button mat-button mat-suffix mat-icon-button color="accent" class="delete-button" aria-label="Delete" (click)="deleteItem(item)"
          matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="selectable-item">
          <div class="item-text">
            <div class="name">Video name: {{item.name}}</div>
            <div class="uri">uri: {{item.uri}}</div>
            <div class="">Musician: {{item.musician}}</div>
            <div class="">Album: {{item.album}}</div>
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
