<mat-card>
  <mat-card-header>
    <mat-card-title>Video Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="saveItem(form)">
      <div class="editfields">
        <div>
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Name" #name (keyup.enter)="saveHero(form)">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="uri" placeholder="URI" #uri (keyup.enter)="saveHero(form)">
          </mat-form-field>
        </div>

        <div *ngIf="musicians$ | async as musicians">
          <mat-form-field>
            <mat-label>Choose an musician</mat-label>
            <mat-select formControlName="musician" required>
              <mat-option *ngFor="let musician of musicians" [value]="musician.name">
                {{musician.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="albums$ | async as albums">
          <mat-form-field>
            <mat-label>Choose an album</mat-label>
            <mat-select formControlName="album" required>
              <mat-option *ngFor="let album of albums" [value]="album.name">
                {{album.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>
      <button mat-raised-button color="accent" type="button" (click)="close()" matTooltip="Cancel all changes">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.pristine || form.invalid" matTooltip="Save all changes">Save</button>
    </form>
  </mat-card-content>
</mat-card>
